
body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin-top: 100px;
    width: 380px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    border: 8px solid grey;
    border-radius: 1.2rem;
    background-color: grey;
    
}

.digit {
    background-color: salmon;
}

.operator {
    background-color: seagreen;
}


.display {
    grid-column: 1/5;
    height: 150px;
    background-color: white;
    border: 3px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 0.6rem;
  
}

button {
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 0.8rem;
}


#zero {
    grid-column: 1/3; 
}

.clear {
    grid-column: 1/3;
    background-color: aquamarine; 
}

.equal {
    grid-column: 3/5;
    background-color: cadetblue;
}